# Dependencias (Cubre backend, frontend y cualquier otra subcarpeta)
**/node_modules/

# Variables de entorno y secretos (¡CRÍTICO!)
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs de error y ejecución
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Archivos del sistema y configuración de editores
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build y archivos temporales
**/dist/
**/build/